<app-header title="About Us"></app-header>
<br/><br/>

<p>We are students from the Kinneret Academic College who have been asked to build a conference management and management systemthat is carried out at the college.</p>
<p>And that the system can be used by any organization and not necessarily just the college,<br/> so we chose to build the system as a web system for building and managing
     the advanced conference in Angular, and an Android application to be used for viewing at conferences.</p>

     <table>
        <tr>
          <th>Students Name</th>
          <th>Email</th>
        </tr>
        <tr>
          <td>Kiril Mazurik</td>
          <td>kirilm@outlook.co.il</td>
        </tr>
        <tr>
            <td>Amjad Tarif</td>
            <td>amjad.ta22@gmail.com</td>
        </tr>
    </table>