.addSession {
    button {
        cursor: pointer;
        border-radius: 25px;
        width: 16%;
    }
}
.removeLecture {
    button {
        cursor: pointer;
        border-radius: 25px;
        width: 5%;
    }
}
.addLecture {
    button {
        cursor: pointer;
        border-radius: 25px;
        width: 16%;
    }
}
.submitButton {
    button {
        cursor: pointer;
        border-radius: 15px;
    }
}

/*.lecture-file {
    padding: 24px 12px;
}*/

.checkbox-label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.checkbox ~ .checkmark {
    background-color: #ccc;
}
.checkbox:checked ~ .checkmark {
    background-color: #2196F3;
}
.checkbox:checked ~ .checkmark:after {
    display: block;
}

table {
    background-color: #fff;
    font-family: 'Open Sans Regular';
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin-bottom: 30px;

    th {
        background: #0087C7;
        color: white !important;
    }

    th,
    td {
        font-size: 16px;
        color: #464646;
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
}